body{
    margin: 0;
    padding: 0;
    background: url(../img/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-custom{
    background: #01eeff;
    font-family: Lob;
    font-weight: bold;
}
.nav-custom{
    padding-top: 0rem;
    padding-bottom: 0;
    margin-right: 1rem;
    font-size: 2.25rem;
}
.nav-link{
    padding: 0;
    font-size: 20px;
    transition: 0.25s;
}
.support-style{
    border: 2.5px solid #ffff;
    border-radius: 8px;
}

.support-style:hover,
.support-style:focus{
    background-color: #b9a53181;
}

.style-hover:hover,
.style-hover:focus{
    box-shadow: 0 0.5em 0.5em -0.4em #ffffff;
    transform: translateY(-0.25em);
    color: #ffffff  !important;
}

/* ______Table Section_______ */

.about-me{
    margin-left: 25px;
}

.about-me h1{
    font-weight: bold;
    line-height: 1px;
    font-family: Lob;
}

.about-me span{
    font-weight: normal;
}
.about-me h5{
    font-size: 15px;
    margin-left: 10px;
    font-family: Lob;
}

.socialIcon ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.socialIcon ul li{
    width: 50px;
    height: 50px;
    
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin: 0px 10px;
}

.socialIcon ul li:nth-child(1){
    border: 2px solid #1877F2;
}

.socialIcon ul li:nth-child(2){
    border: 2px solid #1DA1F2;
}

.socialIcon ul li:nth-child(3){
    border: 2px solid #0A66C2;
}

.socialIcon ul li:nth-child(4){
    border: 2px solid #CD201F;
}

.socialIcon ul li:nth-child(5){
    border: 2px solid #BD081C;
}


.socialIcon ul li a{
    font-size: 30px;
    transition: 0.3s linear;
}

.fa-facebook-f{
    color: #1877F2;
}
.fa-twitter{
    color: #1DA1F2;
}
.fa-linkedin-in{
    color: #0A66C2;
}
.fa-youtube{
    color: #CD201F;
}
.fa-pinterest-p{
    color: #BD081C;
}


/*----- Know More Section -------*/
#skill{
    margin-top: 4.5rem !important;
}
.know-more h2{
    font-family: Lob;
    font-weight: bold;
}

.know-more p{
    justify-content: center;
    font-size: 20px;
}

.social-icon h3{
    font-family: Lob;
    font-weight: bold;
}


.social-icon ul{
    list-style-type: none;
    padding-left: 0;
}


.social-icon li{
    display: inline-block;
    width: 7%;
    height: 80px;
    margin: 10px;
    vertical-align: middle;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
    cursor: pointer;
}

.social-icon img{
    width: 50%;
    margin-top: 23%;
}
/*-----End of Know More Section -------*/

/*********Check My Skills *******/

.hero h2{
    margin-bottom: 50px;
    font-weight: bold;
    font-family: Lob;
}

.my-skill{
    padding: 10px;
    margin: 20px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
}

.my-skill h3{
    font-weight: bold;
    font-family: Lob;
}
.list-group-flush li{
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    cursor: pointer;
}
/******** End of Check My Skills *************/

/******** Check My Latest Portfolio **********/
.latest-portfolio h2{
    font-weight: bold;
    font-family: Lob;
    margin-bottom: 45px;
}

.latest-portfolio h4{
    font-weight: bold;
    font-family: Lob;
    padding: 10px;

}

.skill-box{
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
}
/******** End of Check My Latest Portfolio **********/


/* PSD TO HTML / HTML TO WORDPRESS */
.psd-html h2{
    font-weight: bold;
    font-family: Lob;
}
.portfolio-item{
    background: linear-gradient(145deg, #3d3939, #0a0a0a);
    box-shadow: 5px 5px 15px #858e9b, -5px -5px 15px #6b6a6a;
    padding: 10px;
    margin-bottom: 15px;
    width: 30%;
    margin-right: 3%;
    border-radius: 3px;
}

.portfolio-item a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
/* End of PSD TO HTML / HTML TO WORDPRESS */

/* Join with Me */

.getin h2{
    font-weight: bold;
    font-family: Lob;
}

.getin-tuch{
    background-color: rgba(28, 129, 226, 0.2);
    border-radius: 3px;
    padding-bottom: 10px;
}
.getin-tuch h3{
    font-weight: bold;
    font-family: Lob;
}

.getin-tuch .far{
    font-size: 50px;
    color: #ffff;
    background-color: rgba(28, 129, 226, 0.2);
    padding: 30px;
    border-radius: 50%;
    margin-top: -67px;
}

.form-style{
    padding: 10px;
}

.button{
    border: none;
    padding: 10px 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
/* End of Join with Me */

.footer-area{
    background-color: #45F3FF;
}

.mynav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.mynav ul li{
    display: inline-block;
    margin: 5px;
    border-radius: 3px;
    transition: 0.3s linear;
}

.mynav ul li:hover,
.mynav ul li:focus{
    background-color: rgba(89, 168, 201, 0.7);

}

.mynav ul li a{
    text-decoration: none;
    color: #3d3939;
    font-family: Lob;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 10px;
}





@media screen and (max-width: 1399px){
    .about-me h1{
        font-size: 25px;
    }
}